body{
    background-color: #232323;
    margin:0;                   /*no background around page*/
    font-family: Montserrat; /*, "Avenir";*/
}

.square{
    width: 30%;                 /*3 divs in a row*/
    background: blueviolet; 
    padding-bottom: 30%;        /*gives empty div something*/
    float:left;                 /*puts all divs one after the other left to right 
                                  else all one after the other top to bottom*/
    margin: 1.66%;              /*spacing between divs*/
    border-radius: 20%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;

}

#container {
    max-width: 600px;           /*set container size left right*/
    margin: 20px auto;             /*center left right*/

}

h1{
    color: white;
    text-align: center;
    line-height: 1.1;;
    background-color: steelblue;
    margin: 0;                  /*no background around h1*/
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;   /*take up total size of div*/
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

button:hover{
    color:white;
    background: steelblue;
}

#message{
    display: inline-block;
    width :20%
}